@use '_variables' as v;
@use '_values' as val;
@use '_values/colors';
@use '_utils';

.container {
	background: val.$colors-bfc-text3;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	z-index: 9999;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.full-screen-container {
	border-radius: 12px;
	overflow: hidden;
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 40px 20px 20px;
	overflow: auto;
	background: colors.$white;
	border-radius: 0 0 12px 12px;
	position: relative;
}

.close-overlay {
	display: flex;
	height: 60px;
	width: 44px;
	justify-content: center;
	align-items: center;
	margin: auto;
	cursor: pointer;
	background: transparent;
	border: none;
}
