# IDE
**/.history/
**/.vscode/
**/.idea/

# OSX
.DS_Store

# Rust build directory
**/target
.pre-commit*

# Move build directory
build
storage/
!narwhal/storage

# Move-related files
Move.lock
!crates/sui-framework/packages/move-stdlib/Move.lock
!crates/sui-framework/packages/sui-framework/Move.lock
!crates/sui-framework/packages/sui-system/Move.lock
.trace
.coverage_map.mvcov

# Thumbnails
._*

# Emacs
\#*\#
.\#*

# Python
.pyc

# Node.js
node_modules
.tsbuildinfo
*.tsbuildinfo
.turbo

# App build directories
dist/
storybook-static/
web-ext-artifacts/
.next/
next-env.d.ts

# App test artifacts
coverage/
test-results/
playwright-report/
playwright/.cache/

# logs
wallet.log.*
sui.log.*
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.key
*.tgz
.env
/.idea/
*.bpl
sui_programmability/examples/hello_world/output.bpl
crates/sui-framework/packages/bfc-system/result.txt
genesis/parameters
/validator/bfc/db/*
/validator/validator.yaml
/narwhal/node/tests/data/*
Cargo.lock
