<div class="py-10 flex border-t border-solid border-[#FFFFFF14]">
	<div class="flex flex-col">
		<div class="flex items-center gap-1.25">
			<img width="23" src="/images/logo-dark.svg" />
			<img width="50" src="/images/benfen-dark.svg" />
		</div>
		<div class="w-full grow"></div>
		<div class="text-body/[18px] text-white">Contact with us：BenFen@123.com</div>
	</div>
	<div class="ml-20 flex gap-20">
		<div class="flex flex-col gap-2.5">
			<div class="text-bodyLarge/[22px] text-white">Start Building</div>
			<a class="text-body/[18px] text-bfc-text3 cursor-pointer">Doc</a>
			<a class="text-body/[18px] text-bfc-text3 cursor-pointer">Explore</a>
		</div>
		<div class="flex flex-col gap-2.5">
			<div class="text-bodyLarge/[22px] text-white">Learn</div>
			<a class="text-body/[18px] text-bfc-text3 cursor-pointer">Whitepaper</a>
		</div>
		<div class="flex flex-col gap-2.5">
			<div class="text-bodyLarge/[22px] text-white">Ecosystem</div>
			<a class="text-body/[18px] text-bfc-text3 cursor-pointer">OpenBlock</a>
			<a class="text-body/[18px] text-bfc-text3 cursor-pointer">BenFen Plugin Wallet</a>
		</div>
	</div>
	<div class="h-full grow"></div>
	<div class="flex flex-col items-end">
		<div class="flex">
			<img src="/images/logo-twitter.svg" />
			<img src="/images/logo-discord.svg" />
			<img src="/images/logo-telegram.svg" />
			<img src="/images/logo-member.svg" />
		</div>
		<div class="mt-[70px] flex-col items-end">
			<div class="flex items-center gap-2.5">
				<a class="text-body/[18px] text-bfc-text2 cursor-pointer">Terms and Conditions</a>
				<a class="text-body/[18px] text-bfc-text2 cursor-pointer">Privacy Policy</a>
			</div>
			<div class="mt-1.25 text-body/[18px] text-bfc-text2">
				©2023 BenFen Explorer. All rights reserved.
			</div>
		</div>
	</div>
</div>
