.idea
build
.DS_Store
sui.log.*
publish.log
.coverage_map.mvcov
.trace
apps
.changeset
Cargo*
crates
dapps
dashboards
doc
docker
examples
external-crates
genesis
kiosk
narwhal
scripts
sdk
sui-execution
target
nre
tests*
unit-test*
validator*
rust*
pnpm*
.github