@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
	width: 100%;
	background: #171719;
  color: #ffffff;
}


input{  
	background:none;  
	outline:none;  
	border:0px;
}
