@use '_values/colors';
@use '_utils';

.network-options {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: #fff;
}

.network-lists {
	list-style: none;
	padding: 0;
	overflow-y: auto;
	margin-bottom: 0;
	margin-top: 0;
	width: 100%;
}

.network-item {
	list-style: none;
	padding: 20x 10px;
	height: 58px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid colors.$obc-border;

	line-height: 100%;

	.network-selector {
		background: transparent;
		border: none;
		text-decoration: none;
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		color: colors.$obc-text1;
	}

	.network-icon {
		width: 14px;
		height: 14px;
		color: white;
		border-radius: 100%;
		background-color: colors.$obc-text3;
		line-height: 100%;
		transition: color 0.2s ease-in-out;
	}

	&:last-child {
		border-bottom: none;
	}

	.network-active {
		background-color: colors.$obc-text1;

		&.custom-rpc-active {
			background-color: colors.$obc-text1;
		}
	}

	.custom-rpc-active {
		background-color: colors.$obc-text2;
	}
}

.selected-network {
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
}

.custom-rpc {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	width: 100%;

	form {
		width: 278px;
	}
}
