@use '_variables' as v;
@use '_values' as values;
@use '_values/colors';

.container {
	display: flex;
	flex-flow: row nowrap;
	position: absolute;
	align-items: stretch;
	justify-content: stretch;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	transition: transform 300ms ease-in-out;
	opacity: 1;
	z-index: 40;
	background-color: values.$colors-bfc-card;
}

.link {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 2px;
	text-decoration: none;
	user-select: none;
	flex-grow: 1;
	border: none;
	color: values.$colors-bfc-text3;
	&.active {
		color: values.$colors-bfc-text1;
		border-bottom: 2px solid values.$colors-bfc-text1;
	}
}

.icon {
	font-size: 32px;
	margin-bottom: 2px;
}

.title {
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
}

.hidden {
	transform: translateY(100%);
	opacity: 0;
	transition:
		transform 300ms ease-in-out,
		opacity 0ms ease-in 300ms;
}

/* TODO update icons so they are all the same size */
.wallet-activity-icon {
	font-size: 23px;
	font-weight: 500;
	margin-top: 4px;
}

.apps-icon {
	font-size: 23px;
	font-weight: 500;
	margin-top: 4px;
}
