@use '_variables' as v;
@use '_values' as values;
@use '_values/colors';

.container {
	display: flex;
	flex-flow: row nowrap;
<<<<<<< HEAD
	position: absolute;
	align-items: stretch;
	justify-content: stretch;
=======
	background-color: v.use(v.$colors-nav-background-color);
	backdrop-filter: v.use(v.$colors-nav-background-filter);
	position: sticky;
>>>>>>> mainnet-v1.24.1
	bottom: 0;
	width: 100%;
	overflow: hidden;
<<<<<<< HEAD
	transition: transform 300ms ease-in-out;
=======
	border: 1px solid rgb(111 188 240 / 1%);
	transition:
		max-height 300ms ease-in-out,
		opacity 300ms ease-in-out;
>>>>>>> mainnet-v1.24.1
	opacity: 1;
	z-index: 40;
<<<<<<< HEAD
	background-color: values.$colors-bfc-card;
=======
	max-height: 120px;
	padding-top: 8px;
}

.nav-menu {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: stretch;
	width: 100%;
}

.filter-tags {
	display: flex;
	gap: 8px;

	.filter {
		height: 25px;
		background: colors.$white;
		color: colors.$sui-steel-blue;
		padding: 6px 10px;
		border: 1px solid colors.$gray-60;
		border-radius: 16px;
		text-decoration: none;
		display: flex;
		align-items: center;

		&.active {
			background: v.use(v.$colors-nav-item-highlighted-color);
			color: colors.$white;
		}
	}
>>>>>>> mainnet-v1.24.1
}

.link {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 2px;
	text-decoration: none;
	user-select: none;
	flex-grow: 1;
	border: none;
	color: values.$colors-bfc-text3;
	&.active {
		color: values.$colors-bfc-text1;
		border-bottom: 2px solid values.$colors-bfc-text1;
	}
}

.icon {
	font-size: 32px;
	margin-bottom: 2px;
}

.title {
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
}

.hidden {
	padding-top: 0;
	max-height: 0;
	opacity: 0;
	transition:
		max-height 300ms ease-in-out,
		opacity 0ms ease-in 300ms;
}

/* TODO update icons so they are all the same size */
.wallet-activity-icon {
	font-size: 23px;
	font-weight: 500;
	margin-top: 4px;
}

.apps-icon {
	font-size: 23px;
	font-weight: 500;
	margin-top: 4px;
}
